<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dementev_a.trademate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:hardwareAccelerated="false"
        android:icon="@drawable/trademate_letter"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/trademate_letter"
        android:supportsRtl="true"
        android:theme="@style/Theme.TradeMate.Launcher">
        <activity android:name=".MerchandiserSettingsActivity"></activity>
        <activity android:name=".CompanySettingsActivity" />
        <activity android:name=".PhotoReportActivity" />
        <activity android:name=".AboutMerchandiserActivity" />
        <activity android:name=".AboutRequestActivity" />
        <activity android:name=".MakeRequestActivity" />
        <activity android:name=".AddOperatorActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".LogInMerchandiserActivity" />
        <activity android:name=".AddMerchandiserActivity" />
        <activity android:name=".LogInCompanyActivity" />
        <activity
            android:name=".ChoiceActivity"
            android:noHistory="true" />
        <activity android:name=".SignUpCompanyActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dementev_a.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>